body {
    background: #fafafa;
    color: #222222;
    margin-top: 5rem;
    font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3b3b3b;
}

.title {
    font-family: "Viga", sans-serif;
}

.bg {
    background-color: rgb(61, 44, 214);
    ;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.legend {
    font-family: "Viga", sans-serif;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    /* color: #428bca; */
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 1.3rem;
}

footer {
    text-align: center;
    margin: 100px 0 50px 0;
}

footer a {
    text-align: center;
    font-family: "Viga", sans-serif;
    text-decoration: underline;
    color: #333;
}

footer a:hover {
    color: rgb(61, 44, 214);
    text-decoration: none;
}

footer p {
    font-weight: 100;
    font-size: 0.8rem;
}



.card a,
h3,
p {
    color: rgb(0, 0, 0);
}

.card h3 {
    text-align: left;
    font-size: 1.6rem;
    padding: 10px 0 0 10px;
}

.card a,
h3 {
    font-weight: 500;
}

/* .card p {
    font-weight: 100;
    font-size: 1.0rem;
    padding: 10px;
}

.card:hover {
    background: linear-gradient(200deg, rgba(251, 255, 44, 0.829) 0%, rgba(240, 255, 63, 0.87) 100%);
} */

.username {
    font-weight: 900;
}

i {
    padding-right: 7px;
    color: #ffcc26;
}

.custom-btn {
    background-color: rgb(89, 72, 237);
    color: #ffffff;
}

.custom-btn:hover {
    background-color: rgb(61, 44, 214);
    color: #ffffff;
}

legend {
    font-family: "Viga", sans-serif;
}

a {
    text-align: center;
    font-family: "Viga", sans-serif;
    text-decoration: none;
    color: #333;
}

.creator{
    background-color: #ffcc26;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: small;
    float:left;
    margin-right: 5px;
}

/* Change the link color on hover */
a:hover {
    color: rgb(89, 72, 237); /* Replace with your preferred hover color */
}

.welcome{
    text-align: center;
}