{% extends "base.html" %}

{% block content %}
<h1>⚡</h1>
<h3>Welcome <span class="username">{{ current_user.username }}!</span></h3>
<p>More information about the things you can do.</p>



<a href={{ url_for('review') }}>
    <div class="card">
        <h3>Review</h3>
        <p>Review your cards.</p>
    </div>
</a>

<a href={{ url_for('quiz') }}>
    <div class="card">
        <h3>Quiz</h3>
        <p>Put your knowledge to the test!</p>
    </div>
</a>

<a href={{ url_for('create_deck') }}>
    <div class="card">
        <h3>Cards</h3>
        <p>Add some more cards to your deck.</p>
    </div>
</a>

<a href={{ url_for('create_deck') }}>
    <div class="card">
        <h3>List Cards</h3>
        <p>List all your cards.</p>
    </div>
</a>





{% endblock content %}

